body {
  width: 150px;
  height: 200px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, darkred, tomato);
  color: peachpuff;
}

.button {
  color: peachpuff;
  border-radius: 15%;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: darkred; /* Green */
  color: white;
}
